.book-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff6e;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    border: 1px solid rgba(255,255,255,0.3);
}

.book-header {
    flex-direction: row;
    display: flex;
    margin-bottom: 15px;
}

.book-header .image {
    width: 100px;
    margin-right: 20px;
}

.book-header .image img {
    object-fit: contain;
    width: 100%;
}

.book-header strong {
    font-size: 32px;
}

.placeholder {
    align-self: center;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 10px;
}

.library {
    flex-direction: column;
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.active {
    font-weight: bolder;
}

button {
    background: none; 
    border: none;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}

.nav button {
    font-size: large;
}

.nav button:hover {
    transform: scale(1.5);
}

.input-group {
    display:flex;
    flex-direction: row;
    margin-bottom:5px;
}
form .label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

form .button-group{
    margin: 10px auto;
}